@font-face {
	font-family: Inkfree;
	font-weight: normal;
	font-style: normal;
	src: url('miramap/Inkfree.otf') format('otf'), url('miramap/Inkfree.woff') format('woff'), url('miramap/Inkfree.ttf') format('truetype');
}

@font-face {
	font-family: Asap-Bold;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Asap-Bold.otf') format('otf'), url('amap-en-fetes/Asap-Bold.woff') format('woff'), url('amap-en-fetes/Asap-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Asap-BoldItalic;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Asap-BoldItalic.otf') format('otf'), url('amap-en-fetes/Asap-BoldItalic.woff') format('woff'), url('amap-en-fetes/Asap-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: Asap-Italic;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Asap-Italic.otf') format('otf'), url('amap-en-fetes/Asap-Italic.woff') format('woff'), url('amap-en-fetes/Asap-Italic.ttf') format('truetype');
}

@font-face {
	font-family: Asap-Medium;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Asap-Medium.otf') format('otf'), url('amap-en-fetes/Asap-Medium.woff') format('woff'), url('amap-en-fetes/Asap-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Asap-MediumItalic;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Asap-MediumItalic.otf') format('otf'), url('amap-en-fetes/Asap-MediumItalic.woff') format('woff'), url('amap-en-fetes/Asap-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: Fontfabric-IntroHeadBBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadBBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadBBase.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadBGBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHead1GBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadBGBase.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadBH1Base;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadBH1Base.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadBH1Base.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadBH2Base;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadBH2Base.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadBH2Base.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadHBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadHBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadHBase.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadHGBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadHGBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadHGBase.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadHH2Base;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadHH2Base.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadHH2Base.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadHH1Base;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadHH1Base.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadHH1Base.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadLBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadLBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadLBase.woff') format('woff');
}

@font-face {
	font-family: Fontfabric-IntroHeadRBase;
	font-weight: normal;
	font-style: normal;
	src: url('amap-en-fetes/Fontfabric-IntroHeadRBase.otf') format('otf'), url('amap-en-fetes/Fontfabric-IntroHeadRBase.woff') format('woff');
}

